In [19]:
import numpy as np
import random
import pandas as pd

In [20]:
def generate_phone_number():
    return "+628" + ''.join(random.choices('123456789', k=10))

In [21]:
firstNames =[ "John", "Jane", "Doe", "Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Heidi", "Ivan", "Judy", "Kevin", "Linda", "Michael", "Nancy", "Oscar", "Pamela", "Quincy", "Randy", "Sally", "Tom", "Ursula", "Victor", "Wendy", "Xavier", "Yvonne", "Zach"]	
lastNames = ["Smith", "Johnson", "Williams", "Jones", "Brown", "Davis", "Miller", "Wilson", "Moore", "Taylor", "Anderson", "Thomas", "Jackson", "White", "Harris", "Martin", "Thompson", "Garcia", "Martinez", "Robinson", "Clark", "Rodriguez", "Lewis", "Lee", "Walker", "Hall", "Allen", "Young", "Hernandez", "King"]
streets = ["Jl. A", "Jl. B", "Jl. C", "Jl. D", "Jl. E", "Jl. F", "Jl. G", "Jl. H", "Jl. I", "Jl. J", "Jl. K", "Jl. L", "Jl. M", "Jl. N", "Jl. O", "Jl. P", "Jl. Q", "Jl. R", "Jl. S", "Jl. T", "Jl. U", "Jl. V", "Jl. W", "Jl. X", "Jl. Y", "Jl. Z"]

In [22]:

data = {
    'names': [random.choice(firstNames) + " " + random.choice(lastNames) for i in range(100)],
    'address': [random.choice(streets) + " " + str(random.randint(1, 100)) for i in range(100)],
    'waNumber': [generate_phone_number() for i in range(100)],
    'nRSVP': [random.choice([2,2,2,2,2,2,2,3,3,4,4]) for i in range(100)]
}

df = pd.DataFrame(data)

In [23]:
file_path = 'guesstlist.xlsx'
df.to_excel(file_path, index=False)

In [24]:
df

               names   address        waNumber  nRSVP
0        Frank Smith   Jl. N 3  +6285131839229      2
1       Victor Lewis  Jl. N 78  +6284394399748      2
2   Yvonne Hernandez  Jl. A 95  +6285873213361      2
3         Ivan Clark  Jl. D 40  +6289555965277      2
4       Quincy Young  Jl. U 12  +6289789426381      2
..               ...       ...             ...    ...
95    Alice Williams  Jl. Q 93  +6287194196367      2
96       Alice White  Jl. V 95  +6289243193237      3
97    Grace Martinez  Jl. P 41  +6282857782156      2
98        John Lewis  Jl. Z 20  +6282258644532      2
99   Ursula Anderson  Jl. V 84  +6288857764356      2

[100 rows x 4 columns]